mixin css(name, bp='')
  link(
    rel='stylesheet', type="text/css", href=url_for(bp+'static', filename=name)
  )

mixin js(name, bp='')
  script(type='text/javascript', src=url_for(bp+'static', filename=name))

mixin hidden_fields(form)
  for field in form.hidden_fields
    = field()